.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.cv-inputs{
  margin: 1% 1% 1% 1%;
  margin-bottom: 2%;
  width: 40%;
  border-style: "solid 1px black";
  padding-bottom: 2%;
  overflow: scroll;
}

.cv-outputs{
  width: 60%;
  height: 100vh;
}

.printToPdf{
  height: 10%;
  position: fixed;
  bottom: 2%;
  left: 2%;
}